@media (max-width:1265px) {
  #fullName {
    width: 50%;
    margin-left: -.75%;
  }
}
@media (max-width:1220px) {
  .email {
    margin-top: -8%;
  }
  #fullName {
    margin-left: 1%;
  }
  #fee {
    margin-left: 8%;
  }
}
@media (max-width:1211px) {
  #aboutMe {
    width: 21%;
  }
}
@media (max-width:1211px) {
  #aboutMe {
    width: 25%;
  }
}
@media (max-width:1000px) {
  #fullName {
    margin-left: 2%;
  }
}
@media (max-width:991px) {
  .email {
    margin-top: -20%;
  }
  #fullName {
    width: 45%;
    margin-left: 5%;
  }
  #fee {
    width: 40%;
    margin-left: 5%;
  }
}
@media (max-width:991px) {
  #aboutMe {
    width: 30%;
  }
}
@media (max-width:843px) {
  #fullName {
    margin-left: -4%;
    margin-bottom: -2%;
  }
  #fee {
    display: none;
  }
  .email, .phone {
    display: none;
  }
  #section1Nav {
    margin-right: 3%;
  }
  #iconList {
    margin-top: -13%;
    margin-left: 40%;
    font-size: 2rem;
  }
}
@media (max-width:807px) {
  #aboutMe {
    width: 35%;
  }
  #headShot {
    margin-right: 5%;
    margin-top: -12%;
    width: 15%;
  }
  #iconList {
    margin-left: 40%;
    margin-top: -15%;
    font-size: 2rem;
  }
}
@media (max-width:750px) {
  #iconList {
    margin-top: -21%;
  }
}
@media (max-width:692px) {
  #aboutMe {
    width: 40%;
  }
  #iconList {
    margin-top: -23%;
  }
}
@media (max-width:630px) {
  #iconList {
    margin-top: -29%;
  }
}
@media (max-width:605px) {
  #aboutMe {
    width: 45%;
  }
  #headShot {
    width: 20%;
    margin-right: 7%;
    margin-top: -17%;
  }
  #iconList {
    margin-top: -31%;
  }
}

/*********************************************    iphone 6 portrait   */

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .section1 {
    background: #A9A9A9;
    opacity: 0.9;
  }
  .section1 #menu {
    display: none;
  }
  .section1 #fullName {
    margin: 3% 0 -3% 10%;
    font-size: 20em;
  }
  .section1 .email {
    display: none;
  }
  .section1 .phone {
    display: none;
  }
  #fee {
    display: none;
  }
  #iconList {
    display: block;
    margin-left: 38%;
    margin-top: -97%;
    font-size: 3em;
  }
  #aboutMe {
    width: 100%;
    margin-bottom: -9%;
    margin-top: 3%;
    font-size: 10em;
  }
  #mainBox p {
    font-family: 'Open Sans', sans-serif;
    padding: 5%;
    width: 84%;
    margin-left: 4%;
    font-size: 2.5em;
  }
  #headShot {
    display: none;
  }
  /*********************************************    iphone 6 portrait sec2   */
  .section2 {
    opacity: 0.95;
  }
  .section2 div {
    display: block;
    width: 100%;
    height: 20%;
    margin: 0 0 16% 0;
  }
  .section2 div img {
    display: none;
  }
  .section2 h1 {
    margin: 7% 18% -3% 16%;
    font-size: 12em;
  }
  .section2 .middle h2 {
    width: 86%;
    font-family: 'lobster', cursive;
    background: #5975E1;
    font-size: 7em;
    border-radius: 4px;
    color: white;
    margin: 10% 0 -5% 5.5%;
    padding: 5% 1.5%;
  }
  .section2 .left h2 {
    font-size: 4em;
    padding: 9% 3%;
  }
  .portTable .right h2 {
    width: 83%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6.5em;
    background: #B52D30;
    border-radius: 4px;
    margin: 10% 0 -5% 5.5%;
    padding: 6% 3%;
    color: white;
  }
  /*********************************************    iphone 6 portrait sec3   */
  .section3 h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 12em;
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    margin: -9% 0 10% 8%;
    padding-left: 1%;
  }
  .section3 h1 span {
    font-size: 7rem;
    margin-left: 6%;
  }
  .section3 img {
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px;
  }
  /*********************************************    iphone 6 portrait sec4   */
  .section4 {
    background: grey;
    opacity: 0.9;
  }
  .section4 #menu2 {
    position: fixed;
    margin: -56% 0 0 9%;
    padding: 0;
    width: 100%;
    font-size: 3em;
    color: black;
  }
  .section4 #menu2 li {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    margin-right: 6%;
  }
  .section4 div .section4Nav {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -16%;
    font-size: 2.75em;
  }
}

/*********************************************    iPad portrait   */


/*********************************************    iphone 5/4   */

@media (max-width:320px) {
  header {
    background: #A9A9A9;
    opacity: 0.9;
  }
  #menu {
    display: none;
  }
  #headShot {
    display: none;
  }
  #aboutMe {
    width: 77%;
    padding-top: 5%;
    margin-bottom: -10%;
  }
  #iconList {
    display: none;
  }
  #fullName {
    text-align: center;
    padding: 5%;
    margin-left: 13%;
    margin-bottom: -5%;
  }
  #mainBox {
    height: 70%;
    margin: 0 auto;
  }
  /*********************************************section 2*/
  .section2 {
    opacity: 0.95;
  }
  .section2 div {
    display: block;
    width: 100%;
    height: 20%;
  }
  .section2 div img {
    display: none;
  }
  .section2 h1 {
    margin: 7% 18%;
  }
  .section2 .left h2 {
    font-size: 1.5em;
    padding: 7% 3%;
  }
  /*********************************************section 3*/
  .section3 h1 {
    margin: -35% 0 0 18%;
    box-shadow: 0 0;
  }
  .section3 img {
    margin: 0 0 0 0;
    width: 100%;
  }
  .section3 .fa-download {
    font-size: 3em;
    margin-left: 112%;
  }
  /*********************************************section 4*/
  .section4 #menu2 {
    margin: -100% 0 0 5%;
  }
  .section4 #footerIconList {
    margin: -120% 0 0 60%;
    background: #a9a9a9;
  }
}

/*end 320px*/
