body {
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1417434743061-9873e0beaed6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4290d21be38c31017ff51b982c2c68f5);
  background-size: cover;
  background-position: center top;
}
#menu {
    position: fixed;
    bottom: .1;
    center: 0;
    margin: 2% 0 0 9%;
    padding: 0;
    width: 30%;
    li {
      display: inline-block;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.5em;
      margin-right: 3%;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: border-bottom .5s ease;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid white;
      }
    }
    a {
      color: white;
      text-decoration: none;
      list-style-type: none;
    }
}
.section1 {
  height: 100%;
  header {
    color: white;
    padding: 1% 0 0.05%;
    .logo {
      display: none;
    }
    #section1Nav {
      font-family: 'Josefin Sans', sans-serif;
      float: right;
      margin: -14% 8% 0 0;
      a {
        text-decoration: none;
      }
      ul {
        .email,
        .phone {
          color: white;
          padding-right: 1%;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -o-transition: all .5s ease;
          transition: border-bottom .5s ease;
          border-left: 2px solid transparent;
          &:hover {
            border-left: 2px solid white;
          }
        }
        li {
          list-style-type: none;
          font-size: 1.5em;
          font-weight: lighter;
          color: black;
          margin-bottom: 8%;
          padding-left: 3%;
        }
      }
      .twitter {
        color: white;
        -webkit-transition-property:color, text;
        -webkit-transition-duration: .25s, .25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, text;
        -moz-transition-duration:.25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property:color, text;
        -o-transition-duration:.25s;
        -o-transition-timing-function: linear, ease-in;
        &:hover {
          color: #5AA8DF;
        }
      }
      .linkedin {
        color: white;
        -webkit-transition-property:color, text;
        -webkit-transition-duration: .25s, .25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, text;
        -moz-transition-duration:.25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property:color, text;
        -o-transition-duration:.25s;
        -o-transition-timing-function: linear, ease-in;
        &:hover {
          color: #007AB9;
        }
      }
      .github {
        color: white;
        -webkit-transition-property:color, text;
        -webkit-transition-duration: .25s, .25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, text;
        -moz-transition-duration:.25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property:color, text;
        -o-transition-duration:.25s;
        -o-transition-timing-function: linear, ease-in;
        &:hover {
          color: #39BFFE;
        }
      }
      .facebook {
        color: white;
        -webkit-transition-property:color, text;
        -webkit-transition-duration: .25s, .25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, text;
        -moz-transition-duration:.25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property:color, text;
        -o-transition-duration:.25s;
        -o-transition-timing-function: linear, ease-in;
        &:hover {
          color: #2C4AAA;
        }
      }
    }
    //End .section1Nav
    h1 {
      font-size: 6em;
      font-weight: lighter;
      font-family: 'Josefin Sans', sans-serif;
      text-align: center;
      width: 30%;
      margin-left: 9%;
      margin-top: 2%;
      border-radius: 5px;
    }
    h3 {
      font-weight: lighter;
      font-size: 2.5em;
      font-family: 'Josefin Sans', sans-serif;
      text-align: center;
      width: 30%;
      margin: -4% 0 3% 6%;
      border-radius: 5px;
    }
    .logo {
      background: #A9A9A9;
      font-family: 'Lato', sans-serif;
      font-size: 2.5em;
      color: white;
      border-radius: 100%;
      overflow: hidden;
    }
  }
  //End Header
}
#mainBox {
  background: white;
  opacity: 0.95;
  margin: 5% auto;
  padding: 0.5%;
  height: 50%;
  img {
    width: 10%;
    float: right;
    margin: -8% 12% 0 0;
    border-radius: 100%;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    padding: 5%;
    width: 84%;
    margin-left: 4%;
  }
}
#aboutMe {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 4em;
  width: 20%;
  padding: 1%;
  border-radius: 5px;
  margin-left: 8.5%;
  margin-top: 0;
  padding-left: 1%;
}
//End #mainBox
#iconList {
  margin-left: -21%;
  li {
    display: inline-block;
    margin-right: 3%;
  }
}
//End .section1
/////////////////////////////////////////////////section 2
.section2 {
  background: white;
  opacity: 0.975;
  h1 {
    background: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 4em;
    text-shadow: 1px 1px #a9a9a9;
    width: 100%;
    padding: 5% 3%;
    margin: -10% 0 0 0;
  }
}

.portTable {
  margin: 0 auto;
  width: 100%;
  height: 50%;
  padding: 0 auto;
  div {
    margin: 0 auto;
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: center;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .left {
    h2 {
      width: 83%;
      font-family: gamegirl;
      font-size: 2em;
      background: #D1E340;
      border-radius: 4px;
      margin: 10% 0 -5% 5.5%;
      padding: 5% 3%;
      color: #333;
    }
  }
  .middle {
    h2 {
      width: 86%;
      font-family: 'lobster', cursive;
      background: #5975E1;
      font-size: 3em;
      border-radius: 4px;
      color: white;
      margin: 10% 0 -5% 5.5%;
      padding: 1.5%;
    }
  }
  .right {
    h2 {
      width: 83%;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2em;
      background: #B52D30;
      border-radius: 4px;
      margin: 10% 0 -5% 5.5%;
      padding: 5% 3%;
      color: white;
    }
  }
  img {
    margin: 10% 0;
    width: 90%;
  }
}


.fp-controlArrow.fp-prev {
    left: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-left-128.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}
.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

/////////////////////////////////////////////////section 3
.section3 {
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAANUlEQVQIW2M8df7SfwYGBob///8yMDIywjFIjPHkuYtgSQaGf2AJsCCMPnH23H90HRDFDAwAT10OSO89X8sAAAAASUVORK5CYII=");
  opacity: 0.9;
  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 4em;
    width: 20%;
    padding: 1%;
    border-radius: 5px;
    margin: 0% 0 0 5%;
    padding-left: 1%;
    span {
      font-size: 1rem;
      margin-left: 6%;
      a {
        color: #5F5F5F;
      }
    }
  }
  img {
    background: white;
    margin: -4% 0 0 27%;
    width: 46%;
    padding: 2%;
    border: 1px solid #a9a9a9;
    box-shadow: 3px 5px #F3F3F3;
    opacity: 1.0;
  }
}
/////////////////////////////////////////////////section 4
.section4 {
  height: 100%;
  div {
    padding-top: 2%;
    h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: lighter;
      font-size: 4em;
      color: white;
      width: 16%;
      padding: 1%;
      border-radius: 5px;
      margin-left: 8.5%;
      margin-bottom: 0;
      padding-left: 1%;
    }
    .logo {
      background: #A9A9A9;
      font-family: 'Lato', sans-serif;
      font-size: 2.5em;
      color: white;
      border-radius: 100%;
      overflow: hidden;
    }
    .section4Nav {
      font-family: 'Josefin Sans', sans-serif;
      margin-top: -16%;
      a {
        text-decoration: none;
      }
      ul {
        .email,
        .phone {
          color: white;
          font-size: 2.5em;
          &:hover {}
        }
        li {
          list-style-type: none;
          font-weight: lighter;
          color: black;
          margin-bottom: 2%;
          border-radius: 4px;
          #footerIconList {
            padding: 0;
            font-size: 2.25em;
            li {
              display: inline-block;
              margin-right: 1%;
            }
          }
        }
      }
      .twitter {
        color: white;
        -webkit-transition-property:color, text;
        -webkit-transition-duration: .25s, .25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, text;
        -moz-transition-duration:.25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property:color, text;
        -o-transition-duration:.25s;
        -o-transition-timing-function: linear, ease-in;
        &:hover {
          color: #5AA8DF;
        }
      }
      .linkedin {
        color: white;
        -webkit-transition-property:color, text;
        -webkit-transition-duration: .25s, .25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, text;
        -moz-transition-duration:.25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property:color, text;
        -o-transition-duration:.25s;
        -o-transition-timing-function: linear, ease-in;
        &:hover {
          color: #007AB9;
        }
      }
      .github {
        color: white;
        -webkit-transition-property:color, text;
        -webkit-transition-duration: .25s, .25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, text;
        -moz-transition-duration:.25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property:color, text;
        -o-transition-duration:.25s;
        -o-transition-timing-function: linear, ease-in;
        &:hover {
          color: #39BFFE;
        }
      }
      .facebook {
        color: white;
        -webkit-transition-property:color, text;
        -webkit-transition-duration: .25s, .25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, text;
        -moz-transition-duration:.25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property:color, text;
        -o-transition-duration:.25s;
        -o-transition-timing-function: linear, ease-in;
        &:hover {
          color: #2C4AAA;
        }
      }
    }
  }
  #menu2 {
      position: fixed;
      bottom: .1;
      center: 0;
      margin: -26% 0 0 3%;
      padding: 0;
      width: 30%;
      li {
        display: inline-block;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5em;
        margin-right: 3%;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: border-bottom .5s ease;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid white;
        }
      }
      a {
        color: white;
        text-decoration: none;
        list-style-type: none;
      }
  }
}
