body {
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1417434743061-9873e0beaed6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4290d21be38c31017ff51b982c2c68f5);
  background-size: cover;
  background-position: center top; }

#menu {
  position: fixed;
  bottom: .1;
  center: 0;
  margin: 2% 0 0 9%;
  padding: 0;
  width: 30%; }
  #menu li {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    margin-right: 3%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: border-bottom 0.5s ease;
    border-bottom: 1px solid transparent; }
    #menu li:hover {
      border-bottom: 1px solid white; }
  #menu a {
    color: white;
    text-decoration: none;
    list-style-type: none; }

.section1 {
  height: 100%; }
  .section1 header {
    color: white;
    padding: 1% 0 0.05%; }
    .section1 header .logo {
      display: none; }
    .section1 header #section1Nav {
      font-family: 'Josefin Sans', sans-serif;
      float: right;
      margin: -14% 8% 0 0; }
      .section1 header #section1Nav a {
        text-decoration: none; }
      .section1 header #section1Nav ul .email,
      .section1 header #section1Nav ul .phone {
        color: white;
        padding-right: 1%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: border-bottom 0.5s ease;
        border-left: 2px solid transparent; }
        .section1 header #section1Nav ul .email:hover,
        .section1 header #section1Nav ul .phone:hover {
          border-left: 2px solid white; }
      .section1 header #section1Nav ul li {
        list-style-type: none;
        font-size: 1.5em;
        font-weight: lighter;
        color: black;
        margin-bottom: 8%;
        padding-left: 3%; }
      .section1 header #section1Nav .twitter {
        color: white;
        -webkit-transition-property: color, text;
        -webkit-transition-duration: 0.25s, 0.25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, text;
        -moz-transition-duration: .25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property: color, text;
        -o-transition-duration: .25s;
        -o-transition-timing-function: linear, ease-in; }
        .section1 header #section1Nav .twitter:hover {
          color: #5AA8DF; }
      .section1 header #section1Nav .linkedin {
        color: white;
        -webkit-transition-property: color, text;
        -webkit-transition-duration: 0.25s, 0.25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, text;
        -moz-transition-duration: .25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property: color, text;
        -o-transition-duration: .25s;
        -o-transition-timing-function: linear, ease-in; }
        .section1 header #section1Nav .linkedin:hover {
          color: #007AB9; }
      .section1 header #section1Nav .github {
        color: white;
        -webkit-transition-property: color, text;
        -webkit-transition-duration: 0.25s, 0.25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, text;
        -moz-transition-duration: .25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property: color, text;
        -o-transition-duration: .25s;
        -o-transition-timing-function: linear, ease-in; }
        .section1 header #section1Nav .github:hover {
          color: #39BFFE; }
      .section1 header #section1Nav .facebook {
        color: white;
        -webkit-transition-property: color, text;
        -webkit-transition-duration: 0.25s, 0.25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, text;
        -moz-transition-duration: .25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property: color, text;
        -o-transition-duration: .25s;
        -o-transition-timing-function: linear, ease-in; }
        .section1 header #section1Nav .facebook:hover {
          color: #2C4AAA; }
    .section1 header h1 {
      font-size: 6em;
      font-weight: lighter;
      font-family: 'Josefin Sans', sans-serif;
      text-align: center;
      width: 30%;
      margin-left: 9%;
      margin-top: 2%;
      border-radius: 5px; }
    .section1 header h3 {
      font-weight: lighter;
      font-size: 2.5em;
      font-family: 'Josefin Sans', sans-serif;
      text-align: center;
      width: 30%;
      margin: -4% 0 3% 6%;
      border-radius: 5px; }
    .section1 header .logo {
      background: #A9A9A9;
      font-family: 'Lato', sans-serif;
      font-size: 2.5em;
      color: white;
      border-radius: 100%;
      overflow: hidden; }

#mainBox {
  background: white;
  opacity: 0.95;
  margin: 5% auto;
  padding: 0.5%;
  height: 50%; }
  #mainBox img {
    width: 10%;
    float: right;
    margin: -8% 12% 0 0;
    border-radius: 100%; }
  #mainBox p {
    font-family: 'Open Sans', sans-serif;
    padding: 5%;
    width: 84%;
    margin-left: 4%; }

#aboutMe {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 4em;
  width: 20%;
  padding: 1%;
  border-radius: 5px;
  margin-left: 8.5%;
  margin-top: 0;
  padding-left: 1%; }

#iconList {
  margin-left: -21%; }
  #iconList li {
    display: inline-block;
    margin-right: 3%; }

.section2 {
  background: white;
  opacity: 0.975; }
  .section2 h1 {
    background: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 4em;
    width: 100%;
    padding: 5% 3%;
    margin: -10% 0 0 0; }

.portTable {
  margin: 0 auto;
  width: 100%;
  height: 50%;
  padding: 0 auto; }
  .portTable div {
    margin: 0 auto;
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: center; }
    .portTable div a {
      text-decoration: none;
      color: inherit; }
  .portTable .left h2 {
    width: 83%;
    font-family: gamegirl;
    font-size: 2em;
    background: #D1E340;
    border-radius: 4px;
    margin: 10% 0 -5% 5.5%;
    padding: 5% 3%;
    color: #333; }
  .portTable .middle h2 {
    width: 86%;
    font-family: 'lobster', cursive;
    background: #5975E1;
    font-size: 3em;
    border-radius: 4px;
    color: white;
    margin: 10% 0 -5% 5.5%;
    padding: 1.5%; }
  .portTable .right h2 {
    width: 83%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    background: #B52D30;
    border-radius: 4px;
    margin: 10% 0 -5% 5.5%;
    padding: 5% 3%;
    color: white; }
  .portTable img {
    margin: 10% 0;
    width: 90%; }

.fp-controlArrow.fp-prev {
  left: 0;
  border: none;
  width: 50px;
  height: 101px;
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-left-128.png) no-repeat;
  background-size: contain;
  cursor: pointer; }

.fp-controlArrow.fp-next {
  right: 0;
  border: none;
  width: 50px;
  height: 101px;
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png) no-repeat;
  background-size: contain;
  cursor: pointer; }

.section3 {
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAANUlEQVQIW2M8df7SfwYGBob///8yMDIywjFIjPHkuYtgSQaGf2AJsCCMPnH23H90HRDFDAwAT10OSO89X8sAAAAASUVORK5CYII=");
  opacity: 0.9; }
  .section3 h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 4em;
    width: 20%;
    padding: 1%;
    border-radius: 5px;
    margin: 0% 0 0 5%;
    padding-left: 1%; }
    .section3 h1 span {
      font-size: 1rem;
      margin-left: 6%; }
      .section3 h1 span a {
        color: #5F5F5F; }
  .section3 img {
    background: white;
    margin: -4% 0 0 27%;
    width: 46%;
    padding: 2%;
    border: 1px solid #a9a9a9;
    box-shadow: 3px 5px #F3F3F3;
    opacity: 1.0; }

.section4 {
  height: 100%; }
  .section4 div {
    padding-top: 2%; }
    .section4 div h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: lighter;
      font-size: 4em;
      color: white;
      width: 16%;
      padding: 1%;
      border-radius: 5px;
      margin-left: 8.5%;
      margin-bottom: 0;
      padding-left: 1%; }
    .section4 div .logo {
      background: #A9A9A9;
      font-family: 'Lato', sans-serif;
      font-size: 2.5em;
      color: white;
      border-radius: 100%;
      overflow: hidden; }
    .section4 div .section4Nav {
      font-family: 'Josefin Sans', sans-serif;
      margin-top: -16%; }
      .section4 div .section4Nav a {
        text-decoration: none; }
      .section4 div .section4Nav ul .email,
      .section4 div .section4Nav ul .phone {
        color: white;
        font-size: 2.5em; }
      .section4 div .section4Nav ul li {
        list-style-type: none;
        font-weight: lighter;
        color: black;
        margin-bottom: 2%;
        border-radius: 4px; }
        .section4 div .section4Nav ul li #footerIconList {
          padding: 0;
          font-size: 2.25em; }
          .section4 div .section4Nav ul li #footerIconList li {
            display: inline-block;
            margin-right: 1%; }
      .section4 div .section4Nav .twitter {
        color: white;
        -webkit-transition-property: color, text;
        -webkit-transition-duration: 0.25s, 0.25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, text;
        -moz-transition-duration: .25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property: color, text;
        -o-transition-duration: .25s;
        -o-transition-timing-function: linear, ease-in; }
        .section4 div .section4Nav .twitter:hover {
          color: #5AA8DF; }
      .section4 div .section4Nav .linkedin {
        color: white;
        -webkit-transition-property: color, text;
        -webkit-transition-duration: 0.25s, 0.25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, text;
        -moz-transition-duration: .25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property: color, text;
        -o-transition-duration: .25s;
        -o-transition-timing-function: linear, ease-in; }
        .section4 div .section4Nav .linkedin:hover {
          color: #007AB9; }
      .section4 div .section4Nav .github {
        color: white;
        -webkit-transition-property: color, text;
        -webkit-transition-duration: 0.25s, 0.25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, text;
        -moz-transition-duration: .25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property: color, text;
        -o-transition-duration: .25s;
        -o-transition-timing-function: linear, ease-in; }
        .section4 div .section4Nav .github:hover {
          color: #39BFFE; }
      .section4 div .section4Nav .facebook {
        color: white;
        -webkit-transition-property: color, text;
        -webkit-transition-duration: 0.25s, 0.25s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, text;
        -moz-transition-duration: .25s;
        -moz-transition-timing-function: linear, ease-in;
        -o-transition-property: color, text;
        -o-transition-duration: .25s;
        -o-transition-timing-function: linear, ease-in; }
        .section4 div .section4Nav .facebook:hover {
          color: #2C4AAA; }
  .section4 #menu2 {
    position: fixed;
    bottom: .1;
    center: 0;
    margin: -26% 0 0 3%;
    padding: 0;
    width: 30%; }
    .section4 #menu2 li {
      display: inline-block;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.5em;
      margin-right: 3%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: border-bottom 0.5s ease;
      border-bottom: 1px solid transparent; }
      .section4 #menu2 li:hover {
        border-bottom: 1px solid white; }
    .section4 #menu2 a {
      color: white;
      text-decoration: none;
      list-style-type: none; }
